<!DOCTYPE html>
<html np-app="store">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript">


			var app = angular.module('instantChat', []);

			var msgHistory=[];

			app.controller("msgHistoryController", function(){
				this.msgs = msgHistory;
			});

			app.controller("inputFormController", function($http){
				this.msg = {};
				this.submitMsg = function(){
					this.msg.timeStamp = Date.now();
					msgHistory.push(this.msg);

					var msgStr = JSON.stringify({"User ID":this.msg.user, "Message Body": this.msg.body});
					console.log(msgStr);
					$http.post("http://54.183.245.125:8080//channels/General", msgStr).
						success(function(data, status, headers, config){
							console.log(JSON.stringify(data));
						}).
						error(function(data, status, headers, config){
							console.log(status);
						});

					tmp = this.msg.user;
					this.msg = {};
					this.msg.user = tmp;
				};
			});
		</script>
	</head>
	<body ng-app="instantChat">
		<div>
			<p>Chat history:</p>
			<ol ng-controller="msgHistoryController as msgHistoryCtrl">
				<li ng-repeat="msg in msgHistoryCtrl.msgs">[{{msg.user}} : {{msg.body}} - {{msg.timeStamp | date:'MM/dd/yyyy @ h:mma'}}]</li>
			</ol>

			<form name="msgInput" ng-controller="inputFormController as inputForm" 
			ng-submit="inputForm.submitMsg()"
			novalidate>
				<p>Chat preview window: </p>
				<p>[{{inputForm.msg.user + ": " + inputForm.msg.body}}]</p>
				
				<p>Is the input valid: {{msgInput.$valid}}</p>

				<p> User: </p>
				<p><input type="text" ng-model="inputForm.msg.user" required></p>
				<p> Message: </p>
				<p><textarea rows="4" cols="50" ng-model="inputForm.msg.body" required> </textarea></p>
				<input type="submit" id="submit" value="Submit" />

			</form>

		</div>
	</body>
</html>