<!DOCTYPE html>
<html np-app="store">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
		<script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-vertxbus/6.0.0/angular-vertxbus.js"></script>
		<script src="/static/js/vertx-bus.js"></script>
		<script type="text/javascript">

			var serverURL = "localhost:8080";


			var app = angular.module('instantChat', ['knalli.angular-vertxbus']);

			var msgHistory=[];
			var channelStr = "test";

			var eventBus = new EventBus('http://' + serverURL + '/eventbus');


			// eventBus.publish("channels.General", {data: 123}, null);

			app.controller("msgHistoryController", function($http, $scope, $eventBus){
				this.msgs = msgHistory;

				$scope.channelStr = channelStr;

				$http.get("http://" + serverURL + "/channels/General").
						success(function(data, status, headers, config){
							$scope.channelStr = JSON.stringify(data, null, 2);
							console.log($scope.channelStr);
						}).
						error(function(data, status, headers, config){
							console.log(status);
						});

				$eventBus.onopen = function () {
        		eventBus.registerHandler('channels.General', function (error, message) {
        			msgHistory.push(JSON.stringify(message));
        		});
        	}

			});

			app.controller("inputFormController", function($http){
				this.msg = {};
				this.submitMsg = function(){
					this.msg.timeStamp = Date.now();
					msgHistory.push(this.msg);

					var msgStr = JSON.stringify({"User ID":this.msg.user, "Message Body": this.msg.body});
					console.log(msgStr);
					$http.post("http://" + serverURL + "/channels/General", msgStr).
						success(function(data, status, headers, config){
							console.log(JSON.stringify(data));
						}).
						error(function(data, status, headers, config){
							console.log(status);
						});

					tmp = this.msg.user;
					this.msg = {};
					this.msg.user = tmp;
				};
			});
		</script>
	</head>
	<body ng-app="instantChat">
		<div>
			<p>Chat history:</p>
			<ol ng-controller="msgHistoryController as msgHistoryCtrl">
				<li>{{channelStr}}</li>
				<li ng-repeat="msg in msgHistoryCtrl.msgs">[{{msg.user}} : {{msg.body}} - {{msg.timeStamp | date:'MM/dd/yyyy @ h:mma'}}]</li>
			</ol>

			<form name="msgInput" ng-controller="inputFormController as inputForm" 
			ng-submit="inputForm.submitMsg()"
			novalidate>
				<p>Chat preview window: </p>
				<p>[{{inputForm.msg.user + ": " + inputForm.msg.body}}]</p>
				
				<p>Is the input valid: {{msgInput.$valid}}</p>

				<p> User: </p>
				<p><input type="text" ng-model="inputForm.msg.user" required></p>
				<p> Message: </p>
				<p><textarea rows="4" cols="50" ng-model="inputForm.msg.body" required> </textarea></p>
				<input type="submit" id="submit" value="Submit" />

			</form>

		</div>
	</body>
</html>